*{
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
/*    font-size: 32px; */
    font-size: 2vw;
    line-height: 150%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; /* vai centralizar o texto, i. é., alinhará os elementos filhos do container */
    justify-content: space-between;
    background: #0A3871;
    height: 80px;
    min-height: 120px; /* Para manter o tamanho do header mesmo quando o texto for muito grande */
    width: 100%;
}

.logoAlura {
    align-self: flex-start; /* vai alinhar a imagem a esquerda */
    margin-left: 10px;
    padding-top: 10px;
/*    width: 2%; */
    width: 20px; /* Alterção do valor para se adequar ao meu design */
    height: auto; /* Para manter a proporção da imagem */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 80px;
}

body {
    font-size: 1em; /* tamanho base, normalmente 16 px */
}

#main-title {
    position: absolute;
    /* top: 50%; removido */
    /* transform: translateY(-50%); removido */
    /* font-size: 2vw; */ /* acompanha o redimensionamento da página */
    font-size: 2em; /* duas vezes o tamanho base */
    font-family: 'Sen', sans-serif;
    /* font-size: 20px; */
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-align: center;
    width: 100%;
    color: floralwhite;
    /* color: white; */
    font-weight: bold;
    /* margin-top: 2em; removido */
    /* margin-bottom: 2em; removido */
}

#text-area-1, #text-area-2 {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { 
    color: #0A3871; 
}

#text-area-1:focus, #text-area-2:focus {
    outline: none; 
    }

#text-area-2 {
    background: white;
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/pessoa-lupa-diamante.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding-left: 20px;
    background-size: contain;
    background-position: center 20%;
    }

#botao1, #botao2 {
    margin-left: 18px;
    border: royalblue;
    align-self: flex-end;
    background-size: cover;
    min-width: 100px;
}

#botao1 {
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/pilula-blueroyal.png');
    background-size: contain; /* imagem de fundo cobre todo o espaço do botao1*/
    background-position: center; /* imagem de fundo centralizada no botao1*/
    background-repeat: no-repeat; /* imagem de fundo não se repete no botao1*/

} 

#botao2 {
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/pilula-blueGray.png');
    background-size: 100% 100%; /* imagem de fundo cobre todo o espaço do botao1*/;
    background-position: center; /* imagem de fundo centralizada no botao1*/
} 

.informacao {
    color: #495057;
    font-size: 18px;
}

/* Estilo para dispositivo móvel */
@media screen and (max-widht: 400px) {

    .logoAlura {
        width: 50px; /* Alterção do valor para se adequar ao meu design */
    }

    main {
        flex-direction: column;
        align-items: center; /* vai centralizar horizontalmente o texto (o conteúdo flex) */
        justify-content: center; /* vai centralizar verticalmente o texto (o conteúdo flex) */
    }

    main h1 {
        font-size: 40px;
    }

    #text-area-1, #text-area-2 {
        font-size: 1.5vw;
        margin-top: 20px;
    }
    /* Ajustar estilo para dispositivo móvel aqui */
}