*{
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    /* font-size: 2vw; */
    line-height: 150%;
}

.logoAlura {
    position: relative;
    align-self: flex-start; /* vai alinhar a imagem a esquerda */
    background-color: chartreuse;
    margin-right: 10px;
    /* margin-left: 10px; */
    padding-top: 10px;
/*    width: 2%; */
    width: 20px; /* Alteração do valor para se adequar ao meu design */
    height: auto; /* Para manter a proporção da imagem */
    z-index: 999; /* imagem do logo aparecerá sempre em cima */
}

.title {
    background-color: #0A3871;
}

h1 {
    color: floralwhite;
    margin-left: 90px;
}

main {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

.message {
    background: white;
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/pessoa-lupa-diamante.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.message:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

header {
    position: relative;
    display: flex;
    /* grid-template-columns: auto 1fr; */
    flex-direction: column; /* flex-direction: row; */
    align-items: space-between;
    /* align-items: center; /* vai centralizar o texto, i. é., alinhará os elementos filhos do container */
    /* justify-content: space-between; replaced */
    /* justify-content: center; replaced */
    justify-content: flex-end;
    /* justify-content: flex-start; */
    background: #0A3871;
    height: 80px;
    min-height: 120px; /* Para manter o tamanho do header mesmo quando o texto for muito grande */
    width: 100%;
}

body {
    font-size: 1em; /* tamanho base, normalmente 16 px */
}

    /* Ajustar estilo para dispositivo móvel aqui */
