*{
    background: #e5e5e5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
/*    font-size: 32px; */
    font-size: 2vw;
    line-height: 150%;
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 80px;
}

#text-area-1, #text-area-2 {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { 
    color: #0A3871; 
}

#text-area-1:focus, #text-area-2:focus {
    outline: none; 
    }

#text-area-2 {
    background: white;
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/pessoa-lupa-diamante.png');
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding-left: 20px;
    background-size: contain;
    }

#botao1, #botao2 {
    margin-left: 18px;
    border: royalblue;
    align-self: flex-end;
    background-size: cover;
}

#botao1 {
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/Button-Encriptar-preenchimento-transparente-contorno-azul.png');
}

#botao2 {
    background-image: url('https://raw.githubusercontent.com/Andrehlb/andrehlb-helloone.github.io/main/assetsChallenge1/Button-Descriptografar-preenchimento-transparente-contorno-azul.png');
}

.informacao {
    color: #495057;
    font-size: 18px;
}

/* Estilo para dispositivo móvel */
@media screen and (max-widht: 400px) {
    /* Ajustar estilo para dispositivo móvel aqui */
}