body {
  font-family: Arial, sans-serif;
  background: #CCCCCC;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

#banner {
  width: 100%;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
}

.logo-oracle,
.logo-alura {
  max-width: 150px;
  height: auto;
  display: inline-block;
  vertical align: middle;
}

h1 {
  text-align: center;
  display: inline-block;
  margin-left: 20px;
}
p {
  text-align: center;
}

#missão {
  font-size: 20px;
}

em strong {
  color: #FF0000;

nav ul {
  padding: 0;
  list-styl-type: none;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

nav ul li a:hover {
  text-decoration: underline;
}
